{% extends 'main/base.html' %}
{% load crispy_forms_tags %}


{% block content %}

<style>
  body{
    background-color: whitesmoke;
    
  }
</style>
<body>
  <div class="col-md-4 mb-0"></div>
  {% load crispy_forms_tags %}
  <div  class="card container col-md-4 content-section p-4 mt-5">
    <form method="POST">
        {% csrf_token %}
        <fieldset class="form-group">
            <legend class="border-bottom mb-4"><strong>Log In</strong></legend>
            {{ form|crispy }}
        </fieldset>
        <div class="form-group">
            <button class="btn btn-outline-info" type="submit">Login</button>
        </div>
    </form>
    <div class="border-top pt-3">
        <small class="text-muted">
            Need An Account? <a class="ml-2" href="{% url 'name_signup' %}">Sign Up Now</a>
        </small>
    </div>
    </div>
  <div class="col-md-4 mb-0"></div>

{% endblock %}