{% extends 'main/base.html' %}

{% block content %}

      <script type="text/javascript">
          function showanswerbox(selfans){
            console.log(selfans.checked)
            var showanswerboxnow = document.getElementById("wans");
            showanswerboxnow.style.display = selfans.checked ? "block" : "none";
          }
      </script>


          <div class = "container">
              <div class= "row">

              <div class="p-2">
                <h2><strong> Ask a public question</strong></h2>
              </div>

                <div class="col-12 col-md-1"></div>
                <div class="col-12 col-md-8">

                <form method="POST">
                  {% csrf_token %}
                  <div class="card">
                    <div class="card-body">
                      <h5 class="card-title">Title</h5>
                      <p class="card-text">Be specific and imagine you’re asking a question to another person.</p>
                      <textarea name='title' style="width:100%"></textarea>
                      <hr class="invis">
                      <h5 class="card-title">Body</h5>
                      <p class="card-text">Include all the information someone would need to answer your question.</p>
                      <textarea name="queseditor"></textarea>
                      <script>
                              CKEDITOR.replace( 'queseditor' );
                      </script>
                      <hr class="invis">
                      <h5 class="card-title">Tags</h5>
                      <p class="card-text">Be specific and imagine you’re asking a question to another person.</p>
                      <textarea name='tags' style="width:100%"></textarea>

                      <hr class="invis">

                      <input type="checkbox" id="selfanswer" name="selfanswer" onclick="showanswerbox(this)" value="">
                      <label for="selfanswer"> <strong> Answer your own question </strong> – share your knowledge, Q&A-style</label><br>

                      <div id="wans" style="display: none">
                        <h5 class="card-title">Your Answer</h5>
                        <textarea name="selfanswereditor"></textarea>
                        <script>
                                CKEDITOR.replace( 'selfanswereditor' );
                        </script>
                        <hr class="invis">
                      </div>

                    </div>
                  </div>

                  <button style="width:100%"; class="btn btn-primary mt-2 mb-2" type="submit"> Submit your Question</button>
                </form>


                </div>
            
                <div class="col-12 col-md-3">
                 
                  <div class="card">
                    <div class="card-body">
                      <h5 class="card-title">Step 1: Draft Your Question</h5>
                      <p>The community is here to help you with specific coding, algorithm, or language problems.
                        Avoid asking opinion-based questions.</p>
                      <hr class="invis">


                      <div class="accordion" id="accordionExample">
                        <div class="card">
                          <div class="card-header" id="headingOne">
                            <h2 class="mb-0">
                              <button class="btn btn-link btn-block text-left" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                Summarize the problem
                              </button>
                            </h2>
                          </div>
                      
                          <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
                            <div class="card-body">
                              <ul>
                                <li>Include details about your goal.</li>

                                <li> Describe expected and actual results.</li>
                                
                                <li> any error messages.</li>
                               </ul>   
                             </div>
                          </div>
                        </div>
                        <div class="card">
                          <div class="card-header" id="headingTwo">
                            <h2 class="mb-0">
                              <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                Describe what you’ve tried

                              </button>
                            </h2>
                          </div>
                          <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
                            <div class="card-body">
                              Show what you’ve tried and tell us what you found (on this site or elsewhere) and why it didn’t meet your needs. You can get better answers when you provide research.                  
                            </div>
                          </div>
                        </div>
                        <div class="card">
                          <div class="card-header" id="headingThree">
                            <h2 class="mb-0">
                              <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                Show some code
                              </button>
                            </h2>
                          </div>
                          <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
                            <div class="card-body">
                              When appropriate, share the minimum amount of code others need to reproduce your problem (also called a minimum, reproducible example)
                            </div>
                          </div>
                        </div>
                      </div>




                    </div>
                  </div>
                </div>
              </div>
                

              </div>

          </div>
          
{% endblock %}
 


