{% extends 'main/base.html' %}

{% block content %}
    <!-- main -->
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-2"></div>
            <div class="col-12 col-md-8">
                

                <!-- IMP -->
                <div style="display: flex;justify-content: space-between;" class="p-2">
                    <h2><b>Questions</b></h2>
                    <button onclick="location.href='{% url 'name_askquestion' %}'" class="btn btn-primary btn-sm" type="submit">
                        Ask Question
                    </button>
                </div>

                <!-- Filter -->
                <div style="display: flex;flex-direction: row;justify-content: end;">
                    <nav aria-label="">
                        <ul class="pagination pagination-md">
                          
                          <li class="page-item {% if marked == 'latest' %} active{% endif %}"><a class="page-link" href="?q=latest">Latest</a></li>
                          <li class="page-item {% if marked == 'mostviewed' %} active{% endif %}"><a class="page-link" href="?q=mostviewed">Most viewed</a></li>
                          <li class="page-item {% if marked == 'unanswered' %} active{% endif %}"><a class="page-link" href="?q=unanswered">Unanswered</a></li>
                        </ul>
                    </nav>
                </div>

<!-- Pagination -->
<nav aria-label="Page navigation example">
{% if all_questions.has_other_pages %}
  <ul class="pagination">
    {% if all_questions.has_previous %}
      <li class="page-item"><a class="page-link" href="?page={{ all_questions.previous_page_number }}&q={{marked}}">&laquo;</a></li>
    {% else %}
      <li class="disabled page-item"><span class="page-link">&laquo;</span></li>
    {% endif %}
    {% for i in all_questions.paginator.page_range %}
      {% if all_questions.number == i %}
        <li class="active page-item"><span class="page-link">{{ i }} <span class="sr-only">(current)</span></span></li>
      {% else %}
        <li class="page-item"><a class="page-link" href="?page={{ i }}&q={{marked}}">{{ i }}</a></li>
      {% endif %}
    {% endfor %}
    {% if all_questions.has_next %}
      <li class="page-item"><a class="page-link" href="?page={{ all_questions.next_page_number }}&q={{marked}}">&raquo;</a></li>
    {% else %}
      <li class="disabled page-item"><span class="page-link">&raquo;</span></li>
    {% endif %}
  </ul>
{% endif %}
</nav>
                
                {% for q in all_questions %}
                <div class="row mt-2">
                  
                    <div class="col-12 col-md-4">
                       
                        <div style="height:120px;display: flex;flex-direction: row;justify-content: center;align-items: center;" class="text-center">
                            <div style="flex: 0.33;">{{q.upvotes.all.count}}<br>Upvotes</div>
                            <div style="flex: 0.33;">{{q.answers.all.count}}<br>Answers</div>
                            <div style="flex: 0.34;">{{q.views}}<br>Views</div>
                        </div>
                    </div>
                    <div class="col-12 col-md-8">
                        <div style="max-height: 70px;overflow: hidden;" class="mb-2">
                          <a href="{% url 'name_questionsingle' q.pk %}">{{q.title}}</a>
                        </div>
                        
                        <div style="max-height: 40px;overflow: hidden;" class="mb-2">
                          {% for t in q.tags.all %}
                            <button formaction="" class="btn btn-primary btn-sm" type="submit">{{t.tag_word}}</button>
                          {% endfor %}
                        </div>
                    </div>
                  
                </div>
                
                <div style="display: flex;align-items:flex-end; flex-direction: column;">
                    <small>Asked on <strong> {{q.created_at}} by <a href="{% url 'name_profile' q.author.username %}">{{q.author.name}}</a></strong></small>
                </div>
                
                <hr>
                {% endfor %}
                
                
            
            
            </div>
            <div class="col-12 col-md-2"></div>
        </div>
    </div>

{% endblock %}

