{% extends 'main/base.html' %}
{% block content %}

    <!-- main -->
    <div class="">
        <div class="row">

            <!-- left (slider type) -->
          <div class="col-md-2 col-sm-0">
            
          </div>
          <!-- Main body right side -->
          <div class="col-md-8 col-sm-12">
            
            <!-- question title -->
            <h2>{{q.title}}</h2>
            <p><strong>Asked</strong> {{q.created_at}} <strong>Active</strong> <strong>Viewed</strong> {{q.views}} times</p>

            <hr>

            <div style="display: flex;flex-direction: row;">
                <!-- left (upvote) -->
                <div style="flex:0.1;display: flex; justify-content: center;" class="pt-2">
                    <div>
                        <a href="?isQuestion=True&id={{q.pk}}&action_type=upvote"><div class="triangle-up"></div></a>
                            <div style="width: 100%;text-align: center;" class="pt-1 pb-1">{{q.votes}}</div>
                            <a href="?isQuestion=True&id={{q.pk}}&action_type=downvote"><div class="triangle-down"></div></a>
                    </div>
                </div>
                <!-- right (question) -->
                <div style="flex:0.9;word-break: break-all;" class="p-2">
                    {{q.ques_content  | striptags | safe | escape}}
                <!-- Tags -->
                <div>
                    {% for t in q.tags.all %}
                        <button onclick="location.href='{% url 'name_questionByTag' t.tag_word %}'" class="btn btn-primary btn-sm" type="submit">{{t.tag_word}}</button>
                    {% endfor %}
                </div>

                </div>
            </div>
            


            <!-- User card -->
            <div style="display: flex;justify-content:flex-end; ">
                
                <div style="display: flex;flex-direction: column;width: 250px;">
                    <div>
                        <small>Asked on {{q.created_at}}</small>
                    </div>
                    <div style="display: flex;flex-direction: row;width: 250px;">
                        <div style="flex: 0.3;" class="p-1">
                            <img style="width: 100%;height: 100%;" src = "{{q.author.profile_pic.url}}" class="card-img-top" alt="...">
                        </div>
                        <div style="flex: 0.7;" class="p-1">
                            <p><strong><a href="{% url 'name_profile' q.author.username %}">{{q.author.name}}</a></strong><br>{{q.author.reputation_score}}</p>

                        </div>
                    </div>
                </div>

            </div>

            <hr>
            
            

            <!-- Pagination -->
            <nav aria-label="Page navigation example">
                <ul class="pagination">
                  <li class="page-item"><a class="page-link" href="#">Previous</a></li>
                  <li class="page-item"><a class="page-link" href="#">1</a></li>
                  <li class="page-item"><a class="page-link" href="#">2</a></li>
                  <li class="page-item"><a class="page-link" href="#">3</a></li>
                  <li class="page-item"><a class="page-link" href="#">Next</a></li>
                </ul>
            </nav>

            <!-- Answer list -->
            <div style="max-width: 100%;word-break: break-all;">
            <h3>Answers</h3>
            {% for a in q.answers.all %}
            <div>
                <div style="display: flex;flex-direction: row;">
                    <!-- left (upvote) -->
                    <div style="flex:0.1;display: flex; justify-content: center;" class=" pt-2">
                        <div>
                            <a href="?isQuestion=False&id={{a.pk}}&action_type=upvote"><div class="triangle-up"></div></a>
                            <div style="width: 100%;text-align: center;" class="pt-1 pb-1">{{a.votes}}</div>
                            <a href="?isQuestion=False&id={{a.pk}}&action_type=downvote"><div class="triangle-down"></div></a>
                        </div>
                    </div>
                    <!-- right (question) -->
                    <div style="flex:0.9" class="p-2">
                        {{a.ans_content|safe|escape}}
                    </div>
                </div>
                <div style="display: flex;justify-content:flex-end; ">
                    
                    <div style="display: flex;flex-direction: column;width: 250px;">
                        <div>
                            <small>Asked on {{a.created_at}}</small>
                        </div>
                        <div style="display: flex;flex-direction: row;width: 250px;">
                            <div style="flex: 0.3;" class="p-1">
                                <img style="width: 100%;height: 100%;" src = "{{a.answered_by.profile_pic.url}}" class="card-img-top" alt="...">
                            </div>
                            <div style="flex: 0.7;" class="p-1">
                                <p><strong><a href="{% url 'name_profile' a.answered_by.username %}">{{a.answered_by.name}}</a></strong><br>{{a.answered_by.reputation_score}}</p>

                            </div>
                        </div>
                    </div>

                </div>
            </div>

            <hr>

            {% endfor %}

            
            

            </div>












            <hr>

            <!-- Answer Box editor -->
            <div>
                <h3><strong>Your Answer</strong></h3>
                <form method="POST">
                    {% csrf_token %}
                    <textarea name="editor1"></textarea>
                    <script>
                            CKEDITOR.replace( 'editor1' );
                    </script>
                    <button class="btn btn-primary mt-1" type="submit">Post Answer</button>
                </form>
            </div>

          </div>


          <!-- <div class="col-md-1 col-sm-0"></div> -->
          <div class="col-md-2 col-sm-0"></div>
        </div>
    </div>


{% endblock %}