{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.min.js" integrity="sha384-w1Q4orYjBQndcko6MimVbzY0tgp4pWB4lZ7lr30WKz0vr/aWKhXdBNmNb5D92v7s" crossorigin="anonymous"></script>
    <title>Document</title>

    <link rel="stylesheet" href="./css/main.css">
    <script src="https://cdn.ckeditor.com/4.15.1/standard/ckeditor.js"></script>

</head>
<body>
    <!-- navbar -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <a class="navbar-brand" href="#">Navbar</a>
      
        <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
          <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
            <li class="nav-item active">
              <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Link</a>
            </li>
            <li class="nav-item">
              <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
            </li>
          </ul>
          <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
          </form>
        </div>
      </nav>



    <!-- main -->
    <div class="">
        <div class="row">

            <!-- left (slider type) -->
          <div class="col-md-2 col-sm-0">
            
          </div>




          <!-- Main body right side -->
          <div class="col-md-8 col-sm-12">
            
            <!-- question title -->
            <h2>{{q.title}}</h2>
            <p><b>Asked</b> {{q.created_at}} <b>Active</b> <b>Viewed</b> {{q.views}} times</p>

            <hr>

            <div style="display: flex;flex-direction: row;">
                <!-- left (upvote) -->
                <div style="flex:0.1;display: flex; justify-content: center;" class="pt-2">
                    <div>
                        <a href="?isQuestion=True&id={{q.pk}}&action_type=upvote"><div class="triangle-up">UP</div></a>
                            <div class="pt-1 pb-1">{{q.votes}}</div>
                            <a href="?isQuestion=True&id={{q.pk}}&action_type=downvote"><div class="triangle-down">DOWN</div></a>
                    </div>
                </div>
                <!-- right (question) -->
                <div style="flex:0.9;word-break: break-all;" class="p-2">
                    {{q.ques_content  | striptags | safe | escape}}
                <!-- Tags -->
                <div>
                    {% for t in q.tags.all %}
                        <button onclick="location.href='{% url 'name_questionByTag' t.tag_word %}'" class="btn btn-primary btn-sm" type="submit">{{t.tag_word}}</button>
                    {% endfor %}
                </div>

                </div>
            </div>
            


            <!-- User card -->
            <div style="display: flex;justify-content:flex-end; ">
                
                <div style="display: flex;flex-direction: column;width: 250px;">
                    <div>
                        <small>Asked on {{q.created_at}}</small>
                    </div>
                    <div style="display: flex;flex-direction: row;width: 250px;">
                        <div style="flex: 0.3;" class="p-1">
                            <img style="width: 100%;height: 100%;" src="https://images.unsplash.com/photo-1475319122043-5ca9eeceefaf?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&w=1000&q=80" class="card-img-top" alt="...">
                        </div>
                        <div style="flex: 0.7;" class="p-1">
                            <p><b>{{q.author.email}}</b><br>{{q.author.reputation_score}}</p>

                        </div>
                    </div>
                </div>

            </div>

            <hr>
            
            

            <!-- Pagination -->
            <nav aria-label="Page navigation example">
                <ul class="pagination">
                  <li class="page-item"><a class="page-link" href="#">Previous</a></li>
                  <li class="page-item"><a class="page-link" href="#">1</a></li>
                  <li class="page-item"><a class="page-link" href="#">2</a></li>
                  <li class="page-item"><a class="page-link" href="#">3</a></li>
                  <li class="page-item"><a class="page-link" href="#">Next</a></li>
                </ul>
            </nav>

            <!-- Answer list -->
            <div style="max-width: 100%;word-break: break-all;">
            <h3>Answers</h3>
            {% for a in q.answers.all %}
            <div>
                <div style="display: flex;flex-direction: row;">
                    <!-- left (upvote) -->
                    <div style="flex:0.1;display: flex; justify-content: center;" class=" pt-2">
                        <div>
                            <a href="?isQuestion=False&id={{a.pk}}&action_type=upvote"><div class="triangle-up">UP</div></a>
                            <div class="pt-1 pb-1">{{a.votes}}</div>
                            <a href="?isQuestion=False&id={{a.pk}}&action_type=downvote"><div class="triangle-down">DOWN</div></a>
                        </div>
                    </div>
                    <!-- right (question) -->
                    <div style="flex:0.9" class="p-2">
                        {{a.ans_content|safe|escape}}
                    </div>
                </div>
                <div style="display: flex;justify-content:flex-end; ">
                    
                    <div style="display: flex;flex-direction: column;width: 250px;">
                        <div>
                            <small>Asked on {{a.created_at}}</small>
                        </div>
                        <div style="display: flex;flex-direction: row;width: 250px;">
                            <div style="flex: 0.3;" class="p-1">
                                <img style="width: 100%;height: 100%;" src="https://images.unsplash.com/photo-1475319122043-5ca9eeceefaf?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&w=1000&q=80" class="card-img-top" alt="...">
                            </div>
                            <div style="flex: 0.7;" class="p-1">
                                <p><b>{{a.answered_by.email}}</b><br>{{a.answered_by.reputation_score}}</p>

                            </div>
                        </div>
                    </div>

                </div>
            </div>

            <hr>

            {% endfor %}

            
            

            </div>












            <hr>

            <!-- Answer Box editor -->
            <div>
                <h3><b>Your Answer</b></h3>
                <form method="POST">
                    {% csrf_token %}
                    <textarea name="editor1"></textarea>
                    <script>
                            CKEDITOR.replace( 'editor1' );
                    </script>
                    <button class="btn btn-primary mt-1" type="submit">Post Answer</button>
                </form>
            </div>

          </div>


          <!-- <div class="col-md-1 col-sm-0"></div> -->
          <div class="col-md-2 col-sm-0"></div>
        </div>
    </div>
</body>
</html>